* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.slider-container {
  margin: 15px 0;
}

.slider {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 5px;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
}

span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

#start-btn {
  /* background-color: #4CAF50; */
  background-color: #61993B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

#start-btn:hover {
  background-color: #587f40;
}

#exercise-btn {
  background-color: #DA6E00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

#exercise-btn:hover {
  background-color: #d05d28;
}

/* Keep Custom Settings Button */
#keep-settings-btn {
  background-color: #DA6E00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

#keep-settings-btn.active {
  background-color: red;
  color: white;
  border: 1px solid #BA2721;
}

#keep-settings-btn:hover {
  background-color: #a72920;
}

#keep-settings-btn.pressed {
  background-color: #BA2721; /* Red when pressed */
}

#keep-settings-btn.pressed:hover {
  background-color: #a72920;
}

#timer {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}
